body{
  background-color: grey;
}

.BackgroundPhoto{
  background-image: /MainPhoto.png;
}

.Title{
  background-color: grey;
}
h1{
  text-align: center;
}

.Copyright{
  text-align: left;
  text-decoration: underline;
}
