body{
background-color: black;
}

.Title {
  color: white;
  text-align: center;
}
.FAQ{
  color: white;
  text-align: right;
}
blup{
  color: white;
text-decoration: underline;
text-emphasis: bold;
}
